a {
	text-decoration: none;
	color: #4F729B;
	font-family: Overpass, Open Sans;
	font-size: 16px;
	text-align: center;
	margin-top: 7px;
	display: block;
	line-height: 20px;
	transition-duration: 0.1s;
}

a:hover {
	color: #C0605D;
	background-color: #2F343F;
}

body {
	color: #5D5B68;
	background-color: #0D0F12;
	text-align: center;
}

button {
    background-color: Transparent;
	background: transparent;
    background-repeat:no-repeat;
    border: none !important;
    cursor:default;
    overflow: hidden;
    outline:none;
	font-size:10;
}

h1 {
	font-family: jackeyfont;
	font-size: 80px;
	color: #7A7A7A; 
	text-align: center;
	margin-bottom: 15px;
}

h7 {
	font-size: 20px;
	color: #7A7A7A;
	font-family: Overpass, Open Sans;
	border-bottom: 1px dotted #7A7A7A;
}

div {
	display: inline-block;
	margin: auto;
	width: 110px;
	height: 25px;
	text-align: center;
}

#container {
	width: 100%;
	display: table;
}

.square {
	display: inline-block;
	width: 115px;
	height: auto;
	margin: 5px;
	vertical-align: top;
}

.content {
	margin: auto;
	line-height: 25px;
	padding: auto;
}

#button {
	position: fixed;
    bottom: 0px;
    right: 0px; 
}

#myDIV {
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
	width: 80px;
    font-size: 20px;
}

span {
	width: inherit;
	height: inherit;
	line-height: 50px;
}

.search {
	border-bottom: 1px solid #7A7A7A;
	padding: 5px;
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.search-box {
	background-color: inherit;
	color: #7A7A7A;
	border: none;
	width: 100%;
	margin: auto;
	padding: 0;
	font-family: Overpass, Open Sans;
}

.search-box:focus {
	outline: none;
}